<a href="https://colab.research.google.com/github/divyansh212/100-Days-of-python-coding/blob/main/codepractice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num1=int(input("Enter your first number "))
num2=int(input("enter your 2nd number"))
sum=num1+num2
print(sum)

Enter your first number 2
enter your 2nd number4
6

In [ ]:
side=int(input("enter the side of the square of your choice"))
AREA=side*side
print(AREA)

enter the side of the square of your choice2
4

In [ ]:
NUM1=float(input("Enter the 1st number"))
NUM2=float(input("Enter your 2nd number"))
average=(NUM1+NUM2)/2
print(average)

Enter the 1st number2
Enter your 2nd number3
2.5

In [ ]:
a=int(input("enter the 1st number"))
b=int(input("enter the 2nd number "))
if a>b:
  print("True")
else:
  print("false")

enter the 1st number2
enter the 2nd number 4
false

In [ ]:
Name1=input("Enter your 1st name :")
Name2=input("Enter your last name :")
Name=Name1+" "+Name2
print(len(Name)-1)

Enter your 1st name :Dhruv
Enter your last name :Jain
9

In [ ]:
str="$I am $ symbol and my value is $99.99"
print(str.count("$"))

3

In [ ]:
number=int(input("Enter a number :"))
if number%2==0:
  print("the number is even")
else:
  print("the number is odd")

Enter a number :3
the number is odd

In [ ]:
num1=int(input("enter a number "))
Greatest_number=num1
num2=int(input("enter a number "))
if num2>num1:
  Greatest_number=num2
num3=int(input("enter a number "))
if Greatest_number<num3:
  Greatest_number=num3
print(Greatest_number)

enter a number 45
enter a number 90
enter a number 0
90

In [ ]:
num=int(input("enter a Number"))
if num%7==0:
  print("Number is a multiple of 7")
else:
  print("Number is not multiple of 7")

enter a Number80
Number is not multiple of 7

In [ ]:
movie1=input("enter name of your fvrt movie ")
movie2=input("enter name of your fvrt movie ")
movie3=input("enter name of your fvrt movie ")
fvrt_movies=[movie1,movie2,movie3]
print(fvrt_movies)

enter name of your fvrt movie harry pottter 1
enter name of your fvrt movie harry potter 2
enter name of your fvrt movie harry potter 3
['harry pottter 1', 'harry potter 2', 'harry potter 3']

In [ ]:
list1=[1,2,1]
list2=[1,2,3,4,45,90]
list3=list1.copy()
list3.reverse()
if list3==list1:
  print("Given list has palindrome ")
list4=list2.copy()
list4.reverse()
if list4==list2:
  print("Given list has palindrome")
else:
  print("Given list does not have plaindrome")

Given list has palindrome
Given list does not have plaindrome

In [ ]:
tup=("c","D","A","A","B","B","A")
tup.count("A")

3

In [ ]:
list1=["c","D","A","A","B","B","A"]
list2=list1.sort()
print(list1)

['A', 'A', 'A', 'B', 'B', 'D', 'c']

In [ ]:
random_words={
    "table":"a piece of furniture",
    "cat":"a small animal",
    "facts":["taj mahal ","mount teresa"]
}
print(random_words)

{'table': 'a piece of furniture', 'cat': 'a small animal', 'facts': ['taj mahal ', 'mount teresa']}

In [ ]:
classroom={
    "sub":["python","java","c++","python","javascript","java","python","java","c++","c"],

}
print(len(classroom["sub"]))
sub={"python","java","c++","python","javascript","java","python","java","c++","c"}
print(len(sub))

10
5

In [ ]:
sub1=input("Enter the subject")
marks1=int(input("Enter marks in the subject"))
sub2=input("Enter 2nd subject")
marks2=int(input("Enter marks of the 2nd sunject"))
sub3=input("Enter the 3rd subject")
marks3=int(input("Enter marks in the 3rd  subject"))
students_marks={}
usxd={
    sub1:marks1,
    sub2:marks2,
    sub3:marks3
}
students_marks.update(usxd)
print(students_marks)

Enter the subjectphy
Enter marks in the subject66
Enter 2nd subjectchem
Enter marks of the 2nd sunject80
Enter the 3rd subjectmaths
Enter marks in the 3rd  subject76
{'phy': 66, 'chem': 80, 'maths': 76}

In [ ]:
set={9,"9.0"}
set1={(9,type(9)),(9.0,type(9.0))}
print(set1)
print(set)

{(9, <class 'int'>), (9.0, <class 'float'>)}
{'9.0', 9}

In [ ]:
x=1
while x<101:
  print(x)
  x+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [ ]:
x=100
while x>0:
  print(x)
  x-=1

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [ ]:
n=int(input("Enter a number: "))
b=int(input("Enter the number you want multiplication of the number"))
c=1
while b>0:
  print(n*c)
  c+=1
  b-=1

Enter a number: 7
Enter the number you want multiplication of the number10
7
14
21
28
35
42
49
56
63
70

In [ ]:
numbers=[1,4,9,16,25,36,49,64,81,100]
i=0
while i<len(numbers):
  print (numbers[i])
  i+=1

1
4
9
16
25
36
49
64
81
100

In [ ]:
numbers=(1,4,9,16,25,36,49,64,81,100)
x=int(input("Enter a number"))
i=0
while i<len(numbers):
  if numbers[i]==x:
    print(x,",",i)
  i+=1

Enter a number36
36 , 5

In [ ]:
def average(a,b,c):
  average=(a+b+c)/33
  #print(average)
  return average
p=int(input("Enter the number : "))
q=int(input("enter the number: "))
r=int(input("Enter the number : "))
average(p,q,r)

Enter the number : 3
enter the number: 3
Enter the number : 3

3.0

In [ ]:
def average(a, b, c):
    average = (a + b + c) / 3
    return average

p = 10
q = 20
r = 30

average(p, q, r)  # No print() function here

20.0

In [ ]:
def elements_of_list(list):
  for i in list:
    print(i,end=",")
a=[1,2,3,4,5,6,7,8,8,9,00,0,8,65,3,21,1,0,3,4,6,8,9]
elements_of_list(a)

1,2,3,4,5,6,7,8,8,9,0,0,8,65,3,21,1,0,3,4,6,8,9,

In [ ]:
def length_list(list):
  length_list=len(list)
  return length_list
a=[1,2,3,4,5,6,7,8,8,9,00,0,8,65,3,21,1,0,3,4,6,8,9]
length_list(a)
print(len(a))

23

In [ ]:
def factorial(n):
  prod=1
  for i in range(1,n+1):
    prod=prod*i
  return prod
n=int(input("Enter the number you want to find factorial of: "))
factorial(n)

Enter the number you want to find factorial of: 5

120

In [ ]:
def usd_to_inr(usd):
  inr=86*usd
  print("₹",inr,sep="")
  return inr
dollars=int(input("Enter how many dollars you have:$"))
usd_to_inr(dollars)

Enter how many dollars you have:$99
₹8514

8514

In [ ]:
def odd_or_even(n):
  if n%2==0:
    print("even")
  else:
    print("odd")
n=int(input("Enter number: "))
odd_or_even(n)

Enter number: 5
odd

In [ ]:
def sum(n):
  if n==0:
    return 0
  return sum(n-1)+n
sum(5)

15

In [ ]:
def elements_of_list(list,idx=0):
  if idx==len(list):
    return
  print(list[idx])
  elements_of_list(list,idx+1)
a=[1,2,3,4,5,6,7,8,8,9,00,0,8,65,3,21,1,0,3,4,6,8,9]
elements_of_list(a)

1
2
3
4
5
6
7
8
8
9
0
0
8
65
3
21
1
0
3
4
6
8
9

In [12]:
with open("practice.txt","w")as f:
  f.write("hi everyone\n we are learning file i/o \n using java \n I like programming in java")

In [13]:
with open("practice.txt","r") as f:
  data=f.read()
new_data=data.replace("Java","Python")
print(new_data)

hi everyone
 we are learning file i/o
 using java
 I like programming in java

In [14]:
with open("practice.txt","w") as f:
  f.write(new_data)

In [15]:
with open("practice.txt","r") as f:
  n=f.read()
print(n)

hi everyone
 we are learning file i/o
 using java
 I like programming in java

In [24]:
def check_forword():
  with open("practice.txt","r") as f:
    data=f.read()
    if data.find("java")!=1:
      print("found")
    else:
      print("not found")
check_forword()

found

In [30]:
def check_for_line():
  data=True
  line_no=1
  with open("practice.txt","r") as f:
    while data:
      data=f.readline()
      if "programming " in data:
        print(line_no)
        return
      else:
        line_no+=1
  return -1
check_for_line()

4